@{
    ViewData["Title"] = "Projects";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<head>


    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/4-col-portfolio.css" rel="stylesheet">

</head>




<!-- Page Content -->
<div class="container">


    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="https://www.slideshare.net/RobertoFalconi4/suomi-initial-concept-user-evaluation"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://www.slideshare.net/RobertoFalconi4/suomi-initial-concept-user-evaluation">SUOMI</a>
                    </h4>
                    <p class="card-text">Software that guide users of a spa in the best possible journey using IoT</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="https://www.slideshare.net/RobertoFalconi4/house-temperature-monitoring-using-aws-iot-and-raspberry-pi"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://www.slideshare.net/RobertoFalconi4/house-temperature-monitoring-using-aws-iot-and-raspberry-pi">House temperature monitoring using AWS IoT</a>
                    </h4>
                    <p class="card-text">Smart home automation: measure your house temperature and send it on your devices</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Kalypso</a>
                    </h4>
                    <p class="card-text">software to encrypt messages and to send them via any social or IM</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="https://www.slideshare.net/RobertoFalconi4/game-ratings-predictor-machine-learning-software-to-predict-video-games-content-rating"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://www.slideshare.net/RobertoFalconi4/game-ratings-predictor-machine-learning-software-to-predict-video-games-content-rating">Game Ratings Predictor</a>
                    </h4>
                    <p class="card-text">Supervised Machine Learning AI to predict video games content rating</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="https://www.slideshare.net/RobertoFalconi4/online-market-tired-of-waiting-for-your-courier"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://www.slideshare.net/RobertoFalconi4/online-market-tired-of-waiting-for-your-courier">Online Market</a>
                    </h4>
                    <p class="card-text">responsive, dynamic website to buy products and get them in a pickup store</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        CMS for Augmented Reality Websites
                    </h4>
                    <p class="card-text">CMS to let users create (without coding skills) AR websites using 360° pics and Google API</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        Android and Chrome OS video games
                    </h4>
                    <p class="card-text">Video games for Android's Google Play and Chrome Web Store</p>
                </div>
            </div>
        </div>
    </div>

    <!--
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
    -->
</div>