@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Write a line at:</strong> <a href="mailto:robertofalconi@outlook.com">robertofalconi@outlook.com</a><br />
</address>
