@{
    ViewData["Title"] = "MyHome";
}

<script>
    $('#index').addClass('active');
</script>

<div class="block-header">
    <h2>🖖 “Live long and prosper.” - Vulcan salute</h2>
</div>

<!-- Widgets -->
<div class="row clearfix">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="info-box bg-pink hover-zoom-effect" data-type="success">
            <div class="icon">
                <a href="Home/MyProjects#projectsGallery">
                    <i class="material-icons">playlist_add_check</i>
                </a>
            </div>
            <div class="content">
                <div class="text">Projects</div>
                <div class="number count-to" data-from="0" data-to="8" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="info-box bg-cyan hover-zoom-effect">
            <div class="icon">
                <a href="Home/MyProjects#tutorialsGallery">
                    <i class="material-icons">help</i>
                </a>
            </div>
            <div class="content">
                <div class="text">Tutorials</div>
                <div class="number count-to" data-from="0" data-to="2" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="info-box bg-light-green hover-zoom-effect">
            <div class="icon">
                <a href="Home/MyProjects#slideshowsGallery">
                    <i class="material-icons">slideshow</i>
                </a>
            </div>
            <div class="content">
                <div class="text">Slideshows</div>
                <div class="number count-to" data-from="0" data-to="7" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Widgets -->

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header bg-red">
                <h2>My Projects</h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="Home/MyProjects" class=" waves-effect waves-block">Explore</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="z-index: 1;">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="5" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="6" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="7" class=""></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <a href="https://www.slideshare.net/RobertoFalconi4/bb8-run-a-star-wars-video-game-116261976">
                                <img src="~/images/banner/BB8Run-ALT.png" alt="ASP.NET" class="img-responsive" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="https://www.slideshare.net/RobertoFalconi4/suomi-initial-concept-user-evaluation">
                                <img src="~/images/banner/SUOMI.png" alt="ASP.NET" class="img-responsive" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="https://www.slideshare.net/RobertoFalconi4/house-temperature-monitoring-using-aws-iot-and-raspberry-pi">
                                <img src="~/images/banner/AWS.png" alt="Visual Studio" class="img-responsive" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="">
                                <img src="~/images/banner/Kalypso.png" alt="Package Management" class="img-responsive" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="https://www.slideshare.net/RobertoFalconi4/game-ratings-predictor-machine-learning-software-to-predict-video-games-content-rating">
                                <img src="~/images/banner/Gaming.png" alt="Microsoft Azure" class="img-responsive" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="https://www.slideshare.net/RobertoFalconi4/online-market-tired-of-waiting-for-your-courier">
                                <img src="~/images/banner/Market.png" alt="Microsoft Azure" class="img-responsive" />
                            </a>
                        </div>
                        <div class="item">
                            <img src="~/images/banner/CMS.png" alt="Microsoft Azure" class="img-responsive" />
                        </div>
                        <div class="item">
                            <img src="~/images/banner/Android.png" alt="Microsoft Azure" class="img-responsive" />
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

