@{
    ViewData["Title"] = "MyContacts";
}

<style>
    html {
        animation: 1s ease-out 0s 1 slideInFromRight !important;
    }
</style>

<script>
    $('#mycontacts').addClass('active');
</script>

<div class="block-header">
    <h2>🎮 “We all make choices, but in the end, our choices make us.” - Andrew Ryan's quote</h2>
    @*<h2>👍 “It's-a me, Mario!” - Mario</h2>*@
</div>

<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="header">
                <h2>
                    PROFESSIONAL
                </h2>
                <small>
                    Visit my professional profiles
                </small>
            </div>
            <div class="body">
                <a type="button" href="https://www.linkedin.com/in/Roberto-Falconi" class="btn bg-red waves-effect" data-type="success">LinkedIn</a>
                <a type="button" href="https://www.slideshare.net/RobertoFalconi4" class="btn bg-deep-orange waves-effect">SlideShare</a>
                <a type="button" href="https://github.com/RobertoFalconi" class="btn bg-orange waves-effect">GitHub</a>
                <a type="button" href="https://www.hackster.io/Falkons" class="btn bg-amber waves-effect">Hackster</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="header">
                <h2>
                    GAMING
                </h2>
                <small>
                    Visit my gaming profiles
                </small>
            </div>
            <div class="body">
                <a type="button" href="" class="btn bg-red waves-effect">Steam</a>
                <a type="button" href="" class="btn bg-deep-orange waves-effect">Xbox</a>
                <a type="button" href="" class="btn bg-orange waves-effect">PlayStation</a>
                <br /><br />
                <a type="button" href="" class="btn bg-red waves-effect">Rockstar</a>
                <a type="button" href="" class="btn bg-deep-orange waves-effect">Blizzard</a>
                <a type="button" href="" class="btn bg-orange waves-effect">Ubisoft</a>
                <a type="button" href="" class="btn bg-amber waves-effect">EA</a>
            </div>
        </div>
    </div>
</div>