@{
    ViewData["Title"] = "MyContacts";
}

<div class="block-header">
    <h2>It's a me, Roberto!</h2>
</div>

<meta name="viewport" content="width=device-width, initial-scale=1">

<address>
    <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
    <script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/roberto-falconi" data-format="inline" data-related="false">
    </script>
</address>
