@{
    ViewData["Title"] = "MyGames";
}

<div class="block-header">
    <h2>🎮 “We all make choices, but in the end, our choices make us.” - Andrew Ryan</h2>
</div>


<div class="row clearfix">
    <!-- #START Carousel -->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header bg-red">
                <h2>
                    <img src="~/images/pcgaming.png" style="width:50px" /> Humanity Destroyer<small>Pics</small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="https://pcpartpicker.com/b/d8mqqs" class=" waves-effect waves-block">PC Part Picker Build</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="z-index: 1;">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/images/IMG_6932.jpg">
                        </div>
                        <div class="item">
                            <img src="~/images/IMG_6929.jpg">
                        </div>
                        <div class="item">
                            <img src="~/images/IMG_6930.jpg">
                        </div>
                        <div class="item">
                            <img src="~/images/IMG_6931.jpg">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- #START donut chart -->
            <div class="card">
                <div class="header bg-red">
                    <h2>
                        <img src="~/images/pcgaming.png" style="width:50px" /> Overall stats<small>Donut chart</small>
                    </h2>
                </div>
                <div class="body">
                    <div id="donut_chart" class="dashboard-donut-chart"></div>
                </div>
            </div>
        <!-- #END# donut chart -->
    </div>
    <!-- #END Carousel -->
    <!-- #START PC Specs -->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header bg-red">
                <h2>
                    <img src="~/images/pcgaming.png" style="width:50px" /> PC Build<small>Specs</small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="https://pcpartpicker.com/b/d8mqqs" class=" waves-effect waves-block">PC Part Picker Build</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">memory</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        Intel i7-8700k 4.70 GHz
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">graphic_eq</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        Nvidia GeForce RTX 2080
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">nfc</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        Asus ROG Strix Z370-H Gaming
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">data_usage</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        Western Digital SSD 500GB + HDD 3TB
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">wb_iridescent</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        Kingston HyperX 24GB DDR4 2933 MHz
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">storage</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        CoolerMaster MasterCase H500M
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">ac_unit</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        CoolerMaster MasterLiquid ML240R
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">toys</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        CoolerMaster MasterFan x 6
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">power</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        CoolerMaster MasterVatt V850
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">dvr</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        LG 27" Full HD IPS LED
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">mouse</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        Logitech MX Master 2S
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">mouse</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        Logitech G903
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">keyboard</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        Logitech G110
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">headset_mic</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        Sennheiser G4ME ONE
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #END PC Specs -->
    
</div>
<div class="row clearfix">
    <!-- #START Cards -->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header bg-blue-grey">
                <h2>
                    <img src="~/images/steampng.png" style="width:50px" /> Steam<small>Levels and Achievements</small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="rotation" data-loading-color="lightGreen">
                            <i class="material-icons">loop</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a href="https://steamcommunity.com/id/falkons" data-sub-html="Demo Description">
                            <img class="img-responsive thumbnail" src="~/images/steamexo.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header bg-green">
                <h2>
                    <img src="~/images/xbox.png" style="width:50px" /> Xbox<small>Gamerscore and Achievements</small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="rotation" data-loading-color="lightGreen">
                            <i class="material-icons">loop</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a href="https://account.xbox.com/it-it/profile?gamertag=Falkons95">
                            <img class="img-responsive thumbnail" src="~/images/xboxexo.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header bg-light-blue">
                <h2>
                    <img src="~/images/ps.svg" style="width:50px" /> PlayStation<small>Levels and Trophies</small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="rotation" data-loading-color="lightGreen">
                            <i class="material-icons">loop</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a href="https://my.playstation.com/profile/i_Falkons">
                            <img class="img-responsive thumbnail" src="~/images/psnexo.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header bg-blue">
                <h2>
                    <img src="~/images/battle-net.png" style="width:50px" /> Blizzard Battle.net<small>Levels and Achievements</small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="rotation" data-loading-color="lightGreen">
                            <i class="material-icons">loop</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a href="javascript:void(0);">
                            <img class="img-responsive thumbnail" src="~/images/blizzardexo.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header bg-deep-orange">
                <h2>
                    <img src="~/images/origin.png" style="width:50px" /> Electronic Arts Origin<small>Gamerscore and Achievements</small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="rotation" data-loading-color="lightGreen">
                            <i class="material-icons">loop</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a href="javascript:void(0);">
                            <img class="img-responsive thumbnail" src="~/images/originexo.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #END Cards -->
    <!-- CPU Usage -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="header">
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <h2>CPU USAGE (%)</h2>
                    </div>
                    <div class="col-xs-12 col-sm-6 align-right">
                        <div class="switch panel-switch-btn">
                            <span class="m-r-10 font-12">REAL TIME</span>
                            <label>OFF<input type="checkbox" id="realtime" checked><span class="lever switch-col-cyan"></span>ON</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body">
                <div id="real_time_chart" class="dashboard-flot-chart"></div>
            </div>
        </div>
    </div>
    <!-- #END# CPU Usage -->
</div>
