@{
    ViewData["Title"] = "MyGames";
}
<style>
    html {
        animation: 1s ease-out 0s 1 slideInFromRight;
    }

    @@media screen and (min-width: 1200px) and (max-width: 1530px) {
        svg {
            transform: scale(0.9);
        }

        #donut_chart2 {
            left: 50px;
        }

        #resize {
            margin-left: 100px;
        }
    }

    /*@@media screen and (max-width: 991px) {
        svg {
            width: 100%
        }
    }*/

    /*@@media screen and (min-width: 1630px) {
        svg {
            width: 100%;
            max-width: 330px;
            right: 200px;
        }
    }

    @@media screen and (min-width: 400px) and (max-width: 1630px) {
        svg {
            width: 80%;
            max-width: 330px;
            right: 200px;
        }
    }*/
</style>

<script>
    $(document).ready(function () {
        $('svg').addClass('pull-right');
        $('#mygames').addClass('active');
    });
</script>

<div class="block-header">
    <h2>🖥 “A computer on every desk and in every home.” - Bill Gates' dream</h2>
</div>

<div class="row clearfix">
    <!-- #START Carousel -->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

        <div class="card">
            <div class="pulse">
                <div class="header bg-red ">

                    <h2>
                        <img src="~/images/logo/pcgaming.png" style="width:50px" /> Humanity Destroyer<small>Pics</small>
                    </h2>

                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="https://pcpartpicker.com/b/d8mqqs" class=" waves-effect waves-block">PC Part Picker Build</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="body">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="z-index: 1;">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="5" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="6" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="7" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="8" class=""></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/images/pc/IMG_8316.jpeg" />
                        </div>
                        <div class="item">
                            <img src="~/images/pc/IMG_7337.jpeg" />
                        </div>
                        <div class="item">
                            <img src="~/images/pc/IMG_7304.jpeg" />
                        </div>
                        <div class="item">
                            <img src="~/images/pc/IMG_7305.jpeg" />
                        </div>
                        <div class="item">
                            <img src="~/images/pc/IMG_7306.jpeg" />
                        </div>
                        <div class="item">
                            <img src="~/images/pc/IMG_7307.jpeg" />
                        </div>
                        <div class="item">
                            <img src="~/images/pc/IMG_7308.jpeg" />
                        </div>
                        <div class="item">
                            <img src="~/images/pc/IMG_7309.jpeg" />
                        </div>
                        <div class="item">
                            <img src="~/images/pc/IMG_7310.jpeg" />
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>


        <!-- #START donut chart -->
        <div class="card">
            <div class="pulse">
                <div class="header bg-red">
                    <h2>
                        <img src="~/images/logo/pcgaming.png" style="width:50px" /> Overall stats<small>Donut charts</small>
                    </h2>
                </div>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div id="donut_chart" class="dashboard-donut-chart"></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div id="donut_chart2" class="dashboard-donut-chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# donut chart -->
    </div>
    <!-- #END Carousel -->
    <!-- #START PC Specs -->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="pulse">
                <div class="header bg-red">
                    <h2>
                        <img src="~/images/logo/pcgaming.png" style="width:50px" /> PC Build<small>Components</small>
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="https://pcpartpicker.com/b/d8mqqs" class=" waves-effect waves-block">PC Part Picker Build</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">graphic_eq</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        <b>GPU:</b> GeForce RTX 2080
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">memory</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        <b>CPU:</b> Core i7-8700K 4.7 GHz
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">nfc</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        <b>MOBO:</b> ROG STRIX Z370-E Gaming
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">wb_iridescent</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        <b>RAM:</b> HyperX Predator 24GB 2933MHz
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">ac_unit</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        <b>Coolers:</b> MasterLiquid ML240R
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">toys</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        <b>Fans:</b> MasterFan 2x200mm + 4x140mm
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">storage</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        <b>Case:</b> MasterCase H500M
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">power</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        <b>PSU:</b> MasterWatt V850
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">data_usage</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        <b>SSD:</b> WD Blue SSD 500GB
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">desktop_windows</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        <b>Monitor:</b> Samsung C27FG73 27" 1920x1080 144Hz
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">mouse</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        <b>Mouse:</b> Logitech G903
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">keyboard</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        <b>Keyboard:</b> Logitech G110
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">speaker</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        <b>Speakers:</b> Logitech Z207
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">headset_mic</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        <b>Headset:</b> Sennheiser G4ME ONE
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">videogame_asset</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        <b>Controllers:</b> Sony DualShock 4 + Microsoft Xbox One Controller + Nintendo Switch Pro Controller
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i class="material-icons">event_seat</i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding-top: 4px;">
                        ---
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #END PC Specs -->
<div class="row clearfix">
    <!-- #START Cards -->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="pulse">
                <div class="header bg-blue-grey">
                    <h2>
                        <img src="~/images/logo/steampng.png" style="width:50px" /> Steam<small>Achievements and Games</small>
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li>
                            <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="rotation" data-loading-color="red">
                                <i class="material-icons">loop</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                        <div class="centered">
                            <a href="https://steamcommunity.com/id/falkons" data-sub-html="Demo Description">
                                <img class="img-responsive thumbnail" src="~/images/exophase/steamexo.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="pulse">
                <div class="header bg-green">
                    <h2>
                        <img src="~/images/logo/xbox.png" style="width:50px" /> Xbox<small>Achievements and Games</small>
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li>
                            <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="rotation" data-loading-color="red">
                                <i class="material-icons">loop</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                        <div class="centered">
                            <a href="https://account.xbox.com/it-it/profile?gamertag=Falkons95">
                                <img class="img-responsive thumbnail" src="~/images/exophase/xboxexo.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="pulse">
                <div class="header bg-light-blue">
                    <h2>
                        <img src="~/images/logo/ps.svg" style="width:50px" /> PlayStation<small>Achievements and Games</small>
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li>
                            <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="rotation" data-loading-color="red">
                                <i class="material-icons">loop</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                        <div class="centered">
                            <a href="https://my.playstation.com/profile/i_Falkons">
                                <img class="img-responsive thumbnail" src="~/images/exophase/psnexo.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="pulse">
                <div class="header bg-blue">
                    <h2>
                        <img src="~/images/logo/battle-net.png" style="width:50px" /> Blizzard Battle.net<small>Achievements and Games</small>
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li>
                            <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="rotation" data-loading-color="red">
                                <i class="material-icons">loop</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                        <div class="centered">
                            <a href="javascript:void(0);">
                                <img class="img-responsive thumbnail" src="~/images/exophase/blizzardexo.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="pulse">
                <div class="header bg-deep-orange">
                    <h2>
                        <img src="~/images/logo/origin.png" style="width:50px" /> Electronic Arts Origin<small>Achievements and Games</small>
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li>
                            <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="rotation" data-loading-color="red">
                                <i class="material-icons">loop</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                        <div class="centered">
                            <a href="javascript:void(0);">
                                <img class="img-responsive thumbnail" src="~/images/exophase/originexo.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="pulse">
                <div class="header bg-cyan">
                    <h2>
                        <img src="~/images/logo/uplay.png" style="width:50px" /> Ubisoft Uplay<small>Achievements and Games</small>
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li>
                            <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="rotation" data-loading-color="red">
                                <i class="material-icons">loop</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                        <div class="centered">
                            <a href="javascript:void(0);">
                                <img class="img-responsive thumbnail" src="~/images/exophase/uplayexo.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #END Cards -->
    <!-- CPU Usage -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="pulse">
                <div class="header">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-6">
                            <h2>CPU USAGE (%)</h2>
                        </div>
                        <div class="col-xs-12 col-sm-6 align-right">
                            <div class="switch panel-switch-btn">
                                <span class="m-r-10 font-12">REAL TIME</span>
                                <label>OFF<input type="checkbox" id="realtime" checked><span class="lever switch-col-red"></span>ON</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div id="real_time_chart" class="dashboard-flot-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# CPU Usage -->
</div>