@{
    ViewData["Title"] = "MyProjects";
}
<style>
    html {
        animation: 1s ease-out 0s 1 slideInFromRight !important;
    }
</style>

<script>
    $('#myprojects').addClass('active');
</script>

<div class="block-header">
    <h2>👾 “No! Try not. Do... or do not. There is no try.” - Yoda's quotes</h2>
</div>

<div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">

        <!-- Projects Gallery -->
        <section id="projectsGallery">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Projects
                                <small>Most of my projects are available on <a href="https://github.com/RobertoFalconi" target="_blank">GitHub</a> and <a href="https://www.slideshare.net/RobertoFalconi4" target="_blank">SlideShare</a></small>
                            </h2>
                        </div>
                        <div class="body">
                            <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <a href="~/images/banner/Traffic.png" data-sub-html="Interactive map of Italy and PCA graphs to understand data about traffic collisions and accidents.">
                                        <img class="img-responsive thumbnail" src="~/images/banner/Traffic_small.png">
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <a href="~/images/banner/Venice.png" data-sub-html="Machine learning classification for pics of Venice boats using Random Forest and SVM.">
                                        <img class="img-responsive thumbnail" src="~/images/banner/Venice_small.png">
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <a href="~/images/banner/Malware.png" data-sub-html="Machine learning multiclass classification problem for malware analysis.">
                                        <img class="img-responsive thumbnail" src="~/images/banner/Malware_small.png">
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <a href="~/images/banner/Portfolio.png" data-sub-html="Personal online portfolio and professional workbench.">
                                        <img class="img-responsive thumbnail" src="~/images/banner/Portfolio_small.png">
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <a href="~/images/banner/BB8Run-ALT.png" data-sub-html="3D endless runner video game based on Star Wars universe.">
                                        <img class="img-responsive thumbnail" src="~/images/banner/BB8Run_small_v2.png">
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <a href="~/images/banner/SUOMI.png" data-sub-html="Software that guide users of a spa in the best possible journey using IoT.">
                                        <img class="img-responsive thumbnail" src="~/images/banner/SUOMI_small_v2.png">
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <a href="~/images/banner/AWS.png" data-sub-html="Measure your house temperature and send it on your devices.">
                                        <img class="img-responsive thumbnail" src="~/images/banner/AWS_small_v2.png">
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <a href="~/images/banner/Kalypso.png" data-sub-html="Software to encrypt messages and to send them via any social or IM.">
                                        <img class="img-responsive thumbnail" src="~/images/banner/Kalypso_small_v2.png">
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <a href="~/images/banner/Gaming.png" data-sub-html="Supervised Machine Learning AI to predict video games content rating.">
                                        <img class="img-responsive thumbnail" src="~/images/banner/Gaming_small_v2.png">
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <a href="~/images/banner/Market.png" data-sub-html="Responsive, dynamic website to buy products and get them in a pickup store.">
                                        <img class="img-responsive thumbnail" src="~/images/banner/Market_small_v2.png">
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <a href="~/images/banner/CMS.png" data-sub-html="CMS to let users create (without coding skills) AR websites using 360° pics and Google API.">
                                        <img class="img-responsive thumbnail" src="~/images/banner/CMS_small_v2.png">
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <a href="~/images/banner/Android.png" data-sub-html="Video games for Android's Google Play and Chrome Web Store.">
                                        <img class="img-responsive thumbnail" src="~/images/banner/Android_small_v2.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="slideshowsGallery">
            <!-- SLIDESHOWS GALLERY -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Slideshows
                                <small>Most of my projects are available on <a href="https://github.com/RobertoFalconi" target="_blank">GitHub</a> and <a href="https://www.slideshare.net/RobertoFalconi4" target="_blank">SlideShare</a></small>
                            </h2>
                        </div>
                        <div class="body">
                            <div class="list-unstyled row clearfix">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/IccaXVopjBz8nn" width="340" height="200" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/q2XQB0EfP8jk5U" width="340" height="200" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/FNaxd7qaynDAHx" width="340" height="200" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/xTGzv7LYLsqMhe" width="340" height="200" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/lSH9xQuSh2zYhQ" width="340" height="200" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/3Yg5CsGTX0uGJ7" width="340" height="200" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/6ryfDmV7DupTqX" width="340" height="200" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/MoVPW0DNIViGgc" width="340" height="200" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="tutorialsGallery">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Tutorials
                                <small>Most of my projects are available on <a href="https://github.com/RobertoFalconi" target="_blank">GitHub</a> and <a href="https://www.slideshare.net/RobertoFalconi4" target="_blank">SlideShare</a></small>
                            </h2>
                        </div>
                        <div class="body">
                            <div class="list-unstyled row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <iframe width="400" height="295" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen src='https://www.hackster.io/Falkons/house-temperature-monitoring-using-aws-iot-and-raspberry-pi-3b6410/embed'></iframe>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <iframe width="400" height="295" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen src='https://www.hackster.io/99952/suomi-smart-spa-with-stm32-nucleo-board-a562e0/embed'></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="Papers">
            <!-- Papers -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Papers
                                <small>Most of my projects are available on <a href="https://github.com/RobertoFalconi" target="_blank">GitHub</a> and <a href="https://www.slideshare.net/RobertoFalconi4" target="_blank">SlideShare</a></small>
                            </h2>
                        </div>
                        <div class="body">
                            <div class="list-unstyled row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/hBQVI5vX7cwpWQ" width="700" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/4JQ4QmHIAem9QG" width="700" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/y7ilHzcBcabOrK" width="700" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/EmiU7k5kVv1hhJ" width="700" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/Bmnkq3TzkwpiGr" width="700" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/2fVbkoigNceEBh" width="700" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/uUnFTV0Er1flXD" width="700" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Certificates -->
        <section id="Certificates">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Certificates
                                <small>Most of my projects are available on <a href="https://github.com/RobertoFalconi" target="_blank">GitHub</a> and <a href="https://www.slideshare.net/RobertoFalconi4" target="_blank">SlideShare</a></small>
                            </h2>
                        </div>
                        <div class="body">
                            <div id="aniimated-thumbnials2" class="list-unstyled row clearfix">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <a href="~/images/certificates/AWS_Certified_Cloud_Practitioner.jpg" data-sub-html="AWS Certified Cloud Practitioner.">
                                        <img class="img-responsive thumbnail" src="~/images/certificates/AWS_Certified_Cloud_Practitioner.jpg">
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <a href="~/images/certificates/Nottingham_University_ATC_International.jpg" data-sub-html="ATC English Certificate, Nottingham University.">
                                        <img class="img-responsive thumbnail" src="~/images/certificates/Nottingham_University_ATC_International.jpg">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
        <div class="card" style="position:fixed">
            <ul class="nav nav-tabs tab-col-red">
                <li>
                    <a href="MyProjects#projectsGallery" title="Projects gallery"><i class="material-icons">image</i></a>
                </li>
                <li>
                    <a href="MyProjects#slideshowsGallery" title="Slideshows"><i class="material-icons">slideshow</i></a>
                </li>
                <li>
                    <a href="MyProjects#tutorialsGallery" title="Tutorials"><i class="material-icons">build</i></a>
                </li>
                <li>
                    <a href="MyProjects#Papers" title="Papers"><i class="material-icons">book</i></a>
                </li>
                <li>
                    <a href="MyProjects#Certificates" title="Certificates"><i class="material-icons">description</i></a>
                </li>
            </ul>
        </div>

    </div>
</div>

<!-- Light Gallery Plugin Js -->
<script src="~/plugins/light-gallery/js/lightgallery-all.js"></script>

<!-- Custom Js -->
<script src="~/js/pages/medias/image-gallery.js"></script>