@{
    ViewData["Title"] = "MyProjects";
}
<style>
    html {
        animation: 1s ease-out 0s 1 slideInFromRight !important;
        
    }
</style>

<script>
    $('#myprojects').addClass('active');
</script>

<div class="block-header">
    <h2>👾 “No! Try not. Do... or do not. There is no try.” - Yoda's quotes</h2>
</div>

<!-- Projects Gallery -->
<section id="projectsGallery">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Projects
                        <small>Most of my projects are available on <a href="https://github.com/RobertoFalconi" target="_blank">GitHub</a> and <a href="https://www.slideshare.net/RobertoFalconi4" target="_blank">SlideShare</a></small>
                    </h2>
                </div>
                <div class="body">
                    <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="~/images/banner/BB8Run-ALT.png" data-sub-html="3D endless runner video game based on Star Wars universe.">
                                <img class="img-responsive thumbnail" src="~/images/banner/BB8Run_small_v2.png">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="~/images/banner/SUOMI.png" data-sub-html="Software that guide users of a spa in the best possible journey using IoT.">
                                <img class="img-responsive thumbnail" src="~/images/banner/SUOMI_small_v2.png">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="~/images/banner/AWS.png" data-sub-html="Measure your house temperature and send it on your devices.">
                                <img class="img-responsive thumbnail" src="~/images/banner/AWS_small_v2.png">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="~/images/banner/Kalypso.png" data-sub-html="Software to encrypt messages and to send them via any social or IM.">
                                <img class="img-responsive thumbnail" src="~/images/banner/Kalypso_small_v2.png">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="~/images/banner/Gaming.png" data-sub-html="Supervised Machine Learning AI to predict video games content rating.">
                                <img class="img-responsive thumbnail" src="~/images/banner/Gaming_small_v2.png">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="~/images/banner/Market.png" data-sub-html="Responsive, dynamic website to buy products and get them in a pickup store.">
                                <img class="img-responsive thumbnail" src="~/images/banner/Market_small_v2.png">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="~/images/banner/CMS.png" data-sub-html="CMS to let users create (without coding skills) AR websites using 360° pics and Google API.">
                                <img class="img-responsive thumbnail" src="~/images/banner/CMS_small_v2.png">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="~/images/banner/Android.png" data-sub-html="Video games for Android's Google Play and Chrome Web Store.">
                                <img class="img-responsive thumbnail" src="~/images/banner/Android_small_v2.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="slideshowsGallery">
    <!-- SLIDESHOWS GALLERY -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Slideshows
                        <small>Most of my projects are available on <a href="https://github.com/RobertoFalconi" target="_blank">GitHub</a> and <a href="https://www.slideshare.net/RobertoFalconi4" target="_blank">SlideShare</a></small>
                    </h2>
                </div>
                <div class="body">
                    <div class="list-unstyled row clearfix">

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <iframe src="//www.slideshare.net/slideshow/embed_code/key/FNaxd7qaynDAHx" width="340" height="200" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <iframe src="//www.slideshare.net/slideshow/embed_code/key/xTGzv7LYLsqMhe" width="340" height="200" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <iframe src="//www.slideshare.net/slideshow/embed_code/key/lSH9xQuSh2zYhQ" width="340" height="200" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <iframe src="//www.slideshare.net/slideshow/embed_code/key/6ryfDmV7DupTqX" width="340" height="200" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <iframe src="//www.slideshare.net/slideshow/embed_code/key/MoVPW0DNIViGgc" width="340" height="200" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tutorialsGallery">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Tutorials
                        <small>Most of my projects are available on <a href="https://github.com/RobertoFalconi" target="_blank">GitHub</a> and <a href="https://www.slideshare.net/RobertoFalconi4" target="_blank">SlideShare</a></small>
                    </h2>
                </div>
                <div class="body">
                    <div class="list-unstyled row clearfix">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <iframe frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen src='https://www.hackster.io/Falkons/house-temperature-monitoring-using-aws-iot-and-raspberry-pi-3b6410/embed'></iframe>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <iframe frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen src='https://www.hackster.io/99952/suomi-smart-spa-with-stm32-nucleo-board-a562e0/embed'></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Light Gallery Plugin Js -->
<script src="~/plugins/light-gallery/js/lightgallery-all.js"></script>

<!-- Custom Js -->
<script src="~/js/pages/medias/image-gallery.js"></script>