<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Roberto da Guarcino</title>

     <script language="Javascript">

function image() {
};

image = new image();
number = 0;
// imageArray

         image[number++] = "<img src = '/images/stickman/img-001.gif' width='300' height = '120' /> "
         image[number++] = "<img src = '/images/stickman/img-002.gif'  width='300' height = '120' /> "
         image[number++] = "<img src = '/images/stickman/img-003.gif'  width='300' height = '120' /> "
         image[number++] = "<img src = '/images/stickman/img-004.gif'  width='300' height = '120' /> "
         image[number++] = "<img src = '/images/stickman/img-005.gif'  width='300' height = '120' /> "
             

increment = Math.floor(Math.random() * number);
</script>

    <style>
        .legal{
            height:12%;
        }
        ::-webkit-scrollbar {
            width: 0.8em !important;
            height: 0.8em !important;
            background: #f44336 !important;
            margin-right: 10px !important;
            border: 2px !important;
            border-color: #eee !important;
        }

            ::-webkit-scrollbar:hover {
                background-color: #f43639 !important;
                border: 2px !important;
                border-color: #eee !important;
            }

        ::-webkit-resizer {
            -webkit-border-radius: 4px !important;
            background-color: #eee !important;
            border: 2px !important;
            border-color: #eee !important;
        }

        ::-webkit-scrollbar-thumb {
            min-height: 0.8em !important;
            min-width: 0.8em !important;
            -webkit-border-radius: 4px !important;
            background-color: rgba(0, 0, 0, 0.3) !important;
            border: 2px !important;
            border-color: #eee !important;
        }

            ::-webkit-scrollbar-thumb:hover {
                background-color: rgba(0, 0, 0, 0.4) !important;
                border: 2px !important;
                border-color: #eee !important;
            }

            ::-webkit-scrollbar-thumb:active {
                background-color: rgba(0, 0, 0, 0.2) !important;
                border: 2px !important;
                border-color: #eee !important;
            }
    </style>

    <!-- Favicon-->
    <link rel="icon" href="~/favicon.png" image/x-icon" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />
    <!-- Bootstrap Core Css -->
    <link href="~/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- Waves Effect Css -->
    <link href="~/plugins/node-waves/waves.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="~/plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- Morris Chart Css-->
    <link href="~/plugins/morrisjs/morris.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/css/themes/theme-red.css" rel="stylesheet" />
    <!--WaitMe Css-->
    <link href="~/plugins/waitme/waitMe.css" rel="stylesheet" />
    <!-- Light Gallery Plugin Css -->
    <link href="~/plugins/light-gallery/css/lightgallery.css" rel="stylesheet" />

    <!-- Jquery Core Js -->
    <script src="~/plugins/jquery/jquery.js"></script>
    <!-- Custom Js -->
    <script src="~/js/pages/index.js"></script>
    <!-- Jquery Core Js -->
    <script src="~/plugins/jquery/jquery.js"></script>
    <!-- Jquery CountTo Plugin Js -->
    <script src="~/plugins/jquery-countto/jquery.countTo.js"></script>
    <!-- Slimscroll Plugin Js -->
    <script src="~/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="~/plugins/node-waves/waves.js"></script>
    <!-- Wait Me Plugin Js -->
    <script src="~/plugins/waitme/waitMe.js"></script>
    <!-- Custom Js -->
    <script src="~/js/admin.js"></script>
    <script src="~/js/pages/cards/colored.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="~/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Morris Plugin Js -->
    <script src="~/plugins/raphael/raphael.min.js"></script>
    <script src="~/plugins/morrisjs/morris.js"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="~/plugins/flot-charts/jquery.flot.js"></script>
    <script src="~/plugins/flot-charts/jquery.flot.resize.js"></script>
    <script src="~/plugins/flot-charts/jquery.flot.pie.js"></script>
    <script src="~/plugins/flot-charts/jquery.flot.categories.js"></script>
    <script src="~/plugins/flot-charts/jquery.flot.time.js"></script>

</head>
<body class="theme-red ls-closed">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="bars"></a>
                <div class="navbar-brand tilt">ROBERTO DA GUARCINO</div>
                <div class="pull-right">
                   


                </div>
            </div>
        </div>
    </nav>
    <!-- #END# Top Bar -->
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">

        <!-- User Info -->
        <div class="user-info">
            <div class="image">
                <img src="~/images/user.png" width="48" height="48" alt="User" class="morph" />
            </div>
            <div class="info-container">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Roberto Da Guarcino</div>
                <div class="email">Is the new Da Vinci</div>
                <div class="btn-group user-helper-dropdown">
                    <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="https://www.linkedin.com/in/Roberto-Falconi" class=" waves-effect waves-block"><i class="material-icons">person</i>LinkedIn</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="https://www.slideshare.net/RobertoFalconi4" class=" waves-effect waves-block"><i class="material-icons">slideshow</i>SlideShare</a></li>
                        <li><a href="https://github.com/RobertoFalconi" class=" waves-effect waves-block"><i class="material-icons">code</i>GitHub</a></li>
                        <li><a href="https://www.hackster.io/Falkons" class=" waves-effect waves-block"><i class="material-icons">memory</i>Hackster</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="header">NAVIGATION</li>
                <li id="index" class="menu-active">
                    <a asp-controller="Home" asp-action="Index"><i class="material-icons">home</i><span>My Home</span></a>
                </li>
                <li id="myprojects" class="menu-active">
                    <a asp-area="" asp-controller="Home" asp-action="MyProjects"><i class="material-icons">widgets</i><span>My Projects</span></a>
                </li>
                <li id="mygames" class="menu-active">
                    <a asp-area="" asp-controller="Home" asp-action="MyGames"><i class="material-icons">games</i><span>My Games</span></a>
                </li>
                <li id="mycontacts" class="menu-active">
                    <a asp-area="" asp-controller="Home" asp-action="MyContacts"><i class="material-icons">contacts</i><span>My Contacts</span></a>
                </li>
                <li id="stickman" style="max-width:50px;max-height:50px;">

                    <script language="JavaScript">
                        document.write(image[increment]);
                    </script>
                </li>

            </ul>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
            <div class="copyright">
                <p>
                    &copy; 2018 - <a href="https://www.linkedin.com/in/roberto-falconi">Roberto Falconi</a>
                </p>
                <script src="//platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                <script type="IN/Share" data-url="https://robertodaguarcino.azurewebsites.net/">
                </script>
            </div>
        </div>
        <!-- #Footer -->

    </aside>
    <!-- #END# Left Sidebar -->
    <!-- START BODY -->
    <section class="content">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </section>
    <!-- #END# BODY -->

</body>
</html>